
<%= link_to "Back to products", products_url %>

<h1><%=@product.name %>, $<%=@product.formatted_price %> </h1> <%= link_to "EDIT", edit_product_url %>
</p><%= @product.description %></p>

<h3> Reviews </h3>
<p> Reviews for <%= @product.name %> </p>

<% @product.reviews.each do |review| %>
  <p>
     <%= review.comment %>
     <br>
     <% if review.user != nil %>
      <em> by <%= review.user.email %> </em>
      Added on: <%= review.created_at %>
      <% end %>
  </p>
<% end %>

<% if current_user %> 
  
    <h4> New Review </h4>
    <%= render 'reviews/form' %>
   
   <% else %>
  <p> Please <%= link_to "log in", new_session_path %> to post a review. </p>
<% end %>


